@tailwind base;
@tailwind components;
@tailwind utilities;

.hideme {
  display: none !important;
}

.todo-edit-task-input,
.todo-add-task-input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  max-width: 300px;
}

.todo-update-task,
.todo-add-task {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.todo-task {
  max-width: 260px;
}

.avatar-box {
  text-align: center;
  padding-left: 2%;
  width: 35vmin;
}

.avatar {
  float: left;
}

.tasks {
  padding: 0 20%;
}

/* 992 */
@media only screen and (min-width: 992px) {
  .input-container {
    margin-bottom: 5%;
  }

  .add-task-input {
    width: 30%;
  }

  .time {
    color: white;
    font-weight: 600;
    font-size: large;
    padding-left: 2%;
  }

  .container {
    margin: 10% 30%;
    max-width: 100vmin !important;
  }
}

/* navigation items on small viewport */
@media only screen and (max-width: 992px) {
  .nav-items {
    margin-left: 3%;
  }

  .avatar-box {
    width: 75vmin;
  }

  .tasks {
    padding: 0;
    margin: 0 10%;
  }

  .time {
    color: white;
    font-weight: 600;
    font-size: large;
  }

  .container {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 767px) {
  .add-task-btn {
    margin-top: 15px;
  }
}
